{% extends "base.html" %}

{% block title %}Blog | Portfolio{% endblock %}

{% block content %}
<h1>Blog Posts</h1>

{% for post in posts %}
<article class="blog-post">
    <h2><a href="{{ url_for('blog.blog_post', post_id=post.id) }}">{{ post.title }}</a></h2>
    <p class="date">{{ post.date_posted.strftime('%Y-%m-%d') }}</p>
    <p>{{ post.content[:200] }}{% if post.content|length > 200 %}...{% endif %}</p>
    <a href="{{ url_for('blog.blog_post', post_id=post.id) }}">Read more</a>
</article>
{% endfor %}

<a href="{{ url_for('blog.new_post') }}" class="btn">New Post</a>
{% endblock %}
